{% extends "base.html" %}
{% load static %}
  {% block content %}
  <div>
    <h1>Просмотренные фильмы</h1>
    <ul>
    {% for film in films %}
      <li>
        {{film.id}} - {{film.title}}<br>
        Год: {{ film.year }} <br>
        Рейтинг: {{ film.kp_mark }} <br>
      </li>
      {% if forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
    </ul>  
  </div>
  <div>
    <form action="{% url 'watched_films:add_watched' %}">
      <button>Добавить фильм</button>
    </form>
  </div>
  {% endblock %}
