{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav class="top-nav">
      <ul>
        <li><a href="{% url 'homepage:homepage' %}">Главная страница</a></li>
        <li><a href="{% url 'watched_films:film_list' %}">Просмотренные фильмы</a></li>
        <li><a>Планируемые фильмы</a></li>
      </ul>
    </nav>
  </header>
  {% block content %}{% endblock %}
</body>
</html>
